.example-list {
  color: white;
  text-align: justify;
}

.example-list:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
}

.example-item {
  width: 25%;
  height: 150px;
  display: inline-block;
}

#first {
  background: #faa116;
}

#second {
  background: #57c7c3;
}

#third {
  background: #3b97d3;
}