.example-list {
  color: white;
}

.example-item {
  width: 33.333%;
  height: 150px;
}

#first {
  background: #faa116;
}

#second {
  background: #57c7c3;
  margin-left: auto;
}

#third {
  background: #3b97d3;
  margin-left: auto;
  margin-right: auto;
}